footer{
    background-color: #191919;
    margin-top:100px;
    padding: 50px 0;
}

footer .container{
    // display: grid;
    // grid-template-columns:3fr 2fr 2fr;
    // grid-gap:30px;
    display: flex;
}

footer ul{
    margin-bottom: 20px;
}


footer ul li{
    margin-right: 20px;
}

footer p{
    padding:1rem 10rem 1rem 2rem ;
    font-size: 14px;
    text-align: center;
}


footer .img{
    margin-top: 40px;
    margin-right: 2rem;
}
footer span{
    font-size: 12px;
    white-space: nowrap;
}

@media  (max-width:768px){
    footer .container{
        flex-direction: column;
    }

    footer p{
        font-size: 13px;
        padding: 2rem 2rem ;
    }

    
footer ul{
    margin-bottom:10px;
    text-align: center;
    
}


footer ul li{
    margin-right:10px;
}

footer p{
    padding:1rem 10rem 1rem 2rem ;
    font-size: 14px;
    text-align: center;
    margin-left: 5rem;
}

footer h3{
    text-align: center;
}
footer .img{
    margin-top: 40px;
    margin-right:1rem;


}
footer span{
    font-size: 12px;
    white-space: nowrap;
}
}


@media(max-width:600px){
    footer .container{
    flex-direction: column;
    }

    .box .logos{
        padding:2rem;
    }
    
footer ul{
    margin-bottom: 10px;
}


footer ul li{
    margin-right: 10px;
    font-size: 13px;
}

footer p{
    padding:1rem 3rem 1rem 1rem ;
    font-size: 13px;
    text-align: center;
    margin-left: 3rem;
}

}